{% extends "../base.html" %}

{% block content %}

<form method="post" action="">
    <table>
        {{ form }}
    <tr>
        <td><input type="submit" name="submit" value="Submit" /></td>
        <td><input type="submit" name="submit" value="Preview" /></td>
    </tr>
    </table>
</form>

    {% if post %}
    <div class="post">
        <h1>Title</h1>
        <div class="title">{% if post.title %}{{ post.title }}{% endif %}</div>
        <br />
        <h1>Slug</h1>
        <div class="slug">{% if post.slug %}{{ post.slug }}{% endif %}</div>
        <br />
        <h1>Tags</h1>
        <div class="tags">{% for tag in post.tags %} {{ tag }}{% endfor %}</div>
        <br />
        <h1>Excerpt</h1>
        <div class="excerpt">{% if post.excerpt_html %}{{ post.excerpt_html }}{% endif %}</div>
        <br />
        <h1>Body</h1>
        <div class="body">{% if post.body_html %}{{ post.body_html }}{% endif %}</div>
    </div>
    {% endif %}

{% endblock %}
