{% extends "../base.html" %}

{% block title %}{% if page_title %}{{ page_title }}{% else %}Index{% endif %}{% endblock %}

{% block content %}
    <br />
    {% if page_description %}
        <h2 class="page-description">{{ page_description }}</h2>
        <br />
    {% endif %}
    {% if posts %}
        {% for post in posts %}
        <div class="post">
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <div class="datetime">{{ post.pub_date|tz_date:"%b %d %Y %H:%M" }},
                Tags:{% for tag in post.tags %} <a href="/tag/{{ tag }}">{{ tag }}</a>{% endfor %}
                {% if config.disqus %}, <a href="{{config.url}}{{post.get_absolute_url}}#disqus_thread">Comments</a>{% endif %}
            </div>
            <p style="regular_post_body">
                {% ifnotequal post.excerpt None %}
                {{ post.excerpt_html }}
                <div class="readmore"><a href="{{ post.get_absolute_url }}">Read more</a></div>
                {% else %}
                {{ post.body_html }}
                {% endifnotequal %}
            </p>
            <br />
        </div>
        {% endfor %}
    {% else %}
    <div class="post">
        <h2>No Posts Found</h2>
    </div>
    {% endif %}
    {% if prev_offset or next_offset %}
        <div class="span-16 last append-bottom">
            {% if prev_offset %}
            <a href="?offset={{ prev_offset }}">Previous Posts</a>
            {% endif %}
            {% if next_offset %}
            <a href="?offset={{ next_offset }}">More Posts</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% if config.disqus %}
{% block bodyend %}
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/caio/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
{% endblock %}
{% endif %}
