<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %} | {{ config.title }}</title>
    <link rel="stylesheet" href="/static/default/css/style.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/default/css/tango.css" type="text/css" media="screen, projection" />
    <link href="/feed" type="application/atom+xml" rel="alternate" title="{{ config.title }} Atom Feed" />
    <meta name="description" content="{% block description %}{{config.description}}{% endblock %}" />
    <meta name="keywords" content="{{config.keywords}}" />
    <meta name="author" content="{{config.author}}" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    {% block head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="header">
            {% block header%}
            <h1><a href="/" class="logo">{{ config.title|smartypants }}</a></h1>
            {% endblock %}
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
        <div id="bottomnav" class="post">
            <div class="navcenter">
                <a href="/" title="{{ config.title }}">Home</a> {% if user_is_admin %}| <a href="/admin/" title="Administration Panel">Admin</a>{% endif %} {% if page_list %}| {{page_list|links_for_models:" |"|smartypants}}{% endif %}{% block sidebar %}{% endblock %}
            </div>
        </div>
        <div id="footer" class="post">
            <div class="navcenter">
                &copy; {{ config.author }} 2009 | Original theme by <a href="http://langer.tumblr.com" title="Matt Langer's Tumblr">Langer</a> | Powered by <a href="http://code.google.com/appengine/" title="Google App Engine">AppEngine</a>
            </div>
        </div>
    </div>
    {% block bodyend %}{% endblock %}
    {% if config.google_analytics %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("{{ config.google_analytics }}");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    {% endif %}
</body>
</html>
